<header>
  <nav role="navigation">
    <div class="nav__container">
      {{ 'df-seal.svg' | asset_url | img_tag: null, 'seal' }}
      <a href="/" class="mobile-only">
        {{ 'df-logo-straight-white.svg' | asset_url | img_tag: null, 'logo' }}
      </a>
      <div class="nav__links">
        <ul>
          <li class="{% if link.active %} active{% endif %} first">
            <a href="/pages/process" class="{{ link.title | downcase }}">Shop Salmon</a>
          </li>
          <li class="{% if link.active %} active{% endif %}">
            <a href="/pages/about-us" class="{{ link.title | downcase }}">Know Your Fisherman</a>
          </li>
          <li class="{% if link.active %} active{% endif %} desktop-only">
            <a href="/" class="home">{{ 'df-logo-straight-blue.svg' | asset_url | img_tag: null, 'logo' }}</a>
          </li>
          <li class="{% if link.active %} active{% endif %}">
            <a href="/pages/recipes" class="{{ link.title | downcase }}">Around the Table</a>
          </li>
          <li class="{% if link.active %} active{% endif %}">
            <a href="/pages/contact" class="{{ link.title | downcase }}">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <p class="mobile__logo">{{ 'df-logo-straight-blue.svg' | asset_url | img_tag }}
  <p class="nav__trigger"></p>
</header>
{% include 'loader' %}