<section class="section--full section--intro">
  <div class="section__content">
    <a id="logo" href="/">
      {{ 'df-logo-stacked-blue.svg' | asset_url | img_tag: shop.name }}
    </a>
  </div>
</section>

<section class="section--video alabaster-background">
  <div class="section__content">
    <div class="video">
      <div class="video-wrapper">
        <iframe src="https://player.vimeo.com/video/123800654?background=1&autoplay=1&api=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="section__content section__link">
    <a href="#">Full Screen</a>
  </div>
</section>

<section>
  <div class="section__content">
    <p class="text-center"><small>We're a community supported fishery</small></p>
    <h2 class="bottom text-center">A husband and wife team bringing sustainably harvested salmon from the sea, to your table.</h2>
  </div>
</section>

<section class="section--full section--hands">
  <div class="section__content">
    <div class="one-thirds">
      {{ 'hands1.png' | asset_url | img_tag }}
    </div>
    <div class="two-thirds">
      <div class="full">
        <h3 class="padded bottom text-left">Together, Nelly &amp; Michael now fish the beautiful Copper River and Prince William Sound on their 31-foot gill-netting boat called the Pelican.</h3>
      </div>
      <div class="five-sixths shift-one-sixths">
        {{ 'hands2.png' | asset_url | img_tag }}
      </div>
    </div>
  </div>
  <div class="section__content section__link">
    <a href="/pages/about-us">Learn More</a>
  </div>
</section>

<section class="section--full solitude-background">
  <div class="section__content">
    <div class="full">
      <div class="one-quarters text-left">
        <small>WILD<br>ALASKAN<br>SOCKEYE<br>SALMON</small>
      </div>
      <div class="one-half text-left">
        <h3>Drifters fish is frozen fresh. That might seem counter-intuitive. But it's the freshest it gets.</h3>
      </div>
      <div class="one-quarters text-right">
        <p class="round" style="padding-top: 21px;">FROZEN FRESH</p>
      </div>
    </div>
    <div class="full">
      {{ 'fish2.png' | asset_url | img_tag }}
    </div>
    <div class="full">
      {{ 'df-wave-large-three.svg' | asset_url | img_tag: null, 'wave' }}
    </div>
  </div>
  <div class="section__content section__link">
    <a href="/pages/buy">Order</a>
  </div>
</section>