<section class="section--full section--intro
alabaster-background desktop-only">
  <div class="section__content">
    <a id="logo" href="/">
      {{ 'df-logo-stacked-blue.svg' | asset_url | img_tag: shop.name }}
    </a>
  </div>
</section>

<section class="section--video alabaster-background">
  <div class="section__content">
    <div class="video">
      <div class="video-wrapper">
        <iframe src="https://player.vimeo.com/video/167965100?background=1&autoplay=1&api=1&loop=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
    <div class="section__link">
      <a href="#">Full Screen</a>
    </div>
  </div>
  <div class="section__content no-padding-top">
    <div class="two-thirds shift-one-sixths">
      <p class="text-center"><small>We're a community supported fishery</small></p>
      <h2 class="bottom text-center">Bringing you wild Copper River salmon straight from the fisherman. Each fish is hand picked and delivered by Michael and Nelly Hand, ensuring quality from sea to table.</h2>
    </div>
  </div>
</section>

<section class="section--full section--hands">
  <div class="section__content">
    <div>
      <div class="full">
        <div class="one-quarters text-left">
          <small class="metadata">Michael &amp;<br />Nelly Hand</small>
        </div>
      </div>
      <div class="one-thirds">
        {{ 'hands1.png' | asset_url | img_tag }}
      </div>
      <div class="two-thirds">
        <div class="full">
          <h3 class="padded bottom text-left"></h3>
        </div>
        <div class="five-sixths shift-one-sixths desktop-only">
          {{ 'hands2.png' | asset_url | img_tag }}
        </div>
      </div>
    </div>
    <div>
      <div class="full section__link__normal">
        <a href="/pages/about-us">Learn More</a>
      </div>
    </div>
  </div>
</section>

<section class="section--full solitude-background">
  <div class="section__content">
    <div class="full">
      <div class="one-quarters text-left">
        <small class="metadata">Wild<br>Copper<br>River<br>Salmon</small>
      </div>
      <div class="one-half text-left">
        <h3>Fresh, frozen, or smoked &mdash; enjoy a taste of the catch.</h3>
      </div>
      <div class="one-quarters text-right">
        <a href="/pages/buy"><p class="round"><span>Shop Salmon</span></p></a>
      </div>
    </div>
    <div class="full">
      {{ 'fish2.png' | asset_url | img_tag }}
    </div>
    <div class="full">
      {{ 'df-wave-large-three.svg' | asset_url | img_tag: null, 'wave' }}
    </div>
  </div>
</section>