{% comment %}
  Very important reading:
  http://docs.shopify.com/themes/liquid-basics/what-is-true-and-false-in-liquid
  Learn how to read theme settings in your theme.
{% endcomment %}
<section>
  <div class="section__content page__title">
  </div>
  <div class="section__content">
    <div class="two-thirds">
      <p>Placeholder</p>
    </div>
    <div class="one-thirds">
      <h2>Get in touch</h2>
      <p>Please contact us if you have any questions.</p>
      <small>Email</small>
      <p><a href="mailto:info@driftersfish.com">info@driftersfish.com</a></p>
      <small>Telephone</small>
      <p><a class="no-border-bottom">907.317.2958</a></p>
    </div>
  </div>
</section>
<section class="snow-background">
  <div class="section__content">
    <div class="two-thirds">
      <p class="contact__photo">{{ 'frozen-fish.jpg' | asset_url | img_tag }}</p>
    </div>
    <div class="one-thirds">
      <h2>Wholesale Inqueries</h2>
        <p>Our fish is available fresh or frozen to your market or restaurant. We would love to work with you to give your customers a direct relationship to the fish on their plate.</p>
        {% form 'contact' %}

          {% if form.posted_successfully? %}
            <div class="successForm feedback">
              {{ 'contact.form.post_success' | t }}
            </div>
          {% endif %}

          {% if form.errors %}
          <div class="errorForm feedback">
            {% comment %}{{ form.errors.size }} or {{ form.errors | size }} {% endcomment %}
            <p>Your contact form has {{ form.errors | size | pluralize: ‘an error’, ‘a few errors’ }}. To submit your form, make the following changes and try again:</p>
            {% for field in form.errors %}
              <p>The {{ field | capitalize | replace: 'Body', 'Message' }} field {{ form.errors.messages[field] }}.</p>
            {% endfor %}
          </div>
          {% endif %}
          <form>
            <label for="contactFormName">
              <input required id="contactFormName" name="contact[name]">
              <span>{{ 'contact.form.name' | t }}</span>
            </label>
            <label for="contactFormEmail">
              <input type="email" required id="contactFormEmail" name="contact[email]">
              <span>{{ 'contact.form.email' | t }}</span>
            </label>
            <label for="contactFormMessage">
              <textarea required rows="3" id="contactFormMessage" name="contact[body]"></textarea>
              <span>{{ 'contact.form.message' | t }}</span>
            </label>
            <input type="submit" id="contactFormSubmit" value="{{ 'contact.form.send' | t }}" />
          </form>
        {% endform %}
      </div>
  </div>
</section>
<footer>
  <section class="section--status">
    <div class="section__content status__trigger">
      <div class="five-twelfths text-left desktop-only">
        <p>
          <small>STATUS</small><br />
          <span>Fishing in Cordova</span>
        </p>
      </div>
      <div class="one-sixths text-center">
        {{ 'df-logo-small.svg' | asset_url | img_tag: null, 'logo' }}
      </div>
      <div class="five-twelfths text-right desktop-only">
        <p class="wide-only-ib">
          <small>TEMPERATURE</small><br />
          <span class="status-temperature">72</span><span>&deg;</span>
        </p>
        <p>
          <small>WEATHER</small><br />
          <span class="status-conditions">Raining</span>
        </p>
        <p class="wide-only-ib">
          <small>TIME</small><br />
          <span class="status-time">10:35pm</span>
        </p>
      </div>
    </div>
    <div class="status__drawer">
      <div class="status__container">
        <h1 class="header">We're Out Fishing!</h1>
        <p><small>Prince William Sound & The Copper River</small></p>
        <!-- <p class="section__link__normal"><small><a href="/pages/process">Our Process</a></small></p> -->
      </div>
    </div>
  </section>
</footer>