<section class="section--buy">
  <div class="section__content page__title">
  </div>
  <div class="section__content">
    <div>
      <div class="two-thirds">
        <img src="{{ 'comm-supported-fishery.jpg' | asset_url }}" alt="Fish" />
      </div>
      <div class="one-thirds">
        <h2>Community Supported Fishery</h2>
        <p>A subscription to our Community Supported Fishery reserves a share of our catch and brings you portioned, frozen Copper River Sockeye salmon in the Fall. Delicious recipes and updates from the fishing grounds accompany your CSF share.</p>
        <div class="padded">
          <a href="/collections/shares" class="button">Order Salmon</a>
        </div>
      </div>
    </div>
  </div>
  <div class="section__content">
    <div>
      <div class="one-thirds">
        <h2>Smoked Salmon</h2>
        <p>Our Copper River sockeye salmon is sustainably harvested from the wild waters of Alaska and smoked traditionally over natural alderwood.</p>
        <div class="padded">
          <a href="/collections/smoked" class="button">Shop Smoked Salmon</a>
        </div>
      </div>
      <div class="two-thirds">
        <img src="{{ 'smoked-salmon.jpg' | asset_url }}" alt="Smoked salmon" />
      </div>
    </div> 
  </div>
</section>

<section class="section--buy snow-background">
  <div class="section__content">
    <div class="full">
      <div class="one-half">
        <h2>Commercial Fishing</h2>
      </div>
      <div class="one-half">
        <p>The cold pristine waters of the Copper River provide us with sustainable, healthy salmon that we are excited to share with you. We harvest our salmon using the process of gillnetting. This involves laying a net wall in the water along the fishes’ path. The fish swim into the mesh and are prevented from escaping when their gills are caught in the web. The fish are then bled and kept in slush ice water until we process and pack your Wild Salmon Share.</p>
      </div>
    </div>
    <div class="full">
      <div class="two-thirds">
        <img src="{{ 'commercial-fishing.jpg' | asset_url }}" alt="" />
      </div>
      <div class="one-quarters float-right padded desktop-only">
      <img src="{{ 'commercial-fishing-01.jpg' | asset_url }}" alt="" />
      </div>
    </div>
  </div>
</section>

<section class="section--buy">
  <div class="section__content">
    <div class="full">
      <div class="one-half">
        <h2>Sustainability</h2>
      </div>
      <div class="one-half">
        <p>Alaska has always had a firm, dedicated commitment to sustainable management for our fisheries and we are proud to work together with the fisheries managers to support the health of our salmon run.</p>
      </div>
    </div>
    <div class="full">
      <img src="{{ 'sustainability.jpg' | asset_url }}" alt="" />
    </div>
  </div>
</section>

<section class="section--buy solitude-background">
  <div class="section__content">
    <div class="full">
      <div class="one-thirds">
        <h2>The Copper River Watershed</h2>
        <p>Protecting and advocating for the wild Watershed where our fish return is important to us.  We're proud to partner with the Copper River Watershed Project by giving back 1 % of our annual sales to further habitat preservation and education. The Copper River Watershed Project works to foster the health of the Copper River watershed's salmon-based cultures, communities, and economies.  Learn more about the <a href="http://www.copperriver.org" class="link__inline">Copper River Watershed Project</a>.</p>
      </div>
      <div class="one-half shift-one-sixths">
        <img src="{{ 'watershed.jpg' | asset_url }}" alt="" />
      </div>
    </div>
  </div>
</section>