{% comment %}
  Very important reading:
  http://docs.shopify.com/themes/liquid-basics/what-is-true-and-false-in-liquid
  Learn how to read theme settings in your theme.
{% endcomment %}

<section>
  <div class="section__content page__title">
    <small>Drifters Process</small>
  </div>
  <div class="section__content text-left">
    <div class="two-thirds">
      <h2>Our process consists of five key steps. Each vital to getting you the best fish possible.</h2>
    </div>
  </div>
</section>

<section class="section--full">
  <div class="section__content process__location">
    <small>Washington</small>
  </div>
  <div class="section__content text-left">
    <div class="full">
      <div class="one-half">
        <small class="process__season">Winter</small>
        <h2>Off Season</h2>
        {{ '01.svg' | asset_url | img_tag: '01', 'process__number' }}
      </div>
      <div class="one-half">
        <p>This time of year we are back at our home on Guemes Island in the Puget Sound. Winter is spent hosting events, exploring in our van, and enjoying the Pacific Northwest. Come get to know your fisherman at our events throughout the winter.</p>
      </div>
    </div>
    <div class="full">
      <div class="one-half">
        {{ 'https://placehold.it/500x400' | img_tag }}
      </div>
      <div class="one-quarters shift-one-quarters padded desktop-only">
        {{ 'https://placehold.it/250x300' | img_tag: null }}
      </div>
    </div>
  </div>
</section>

<section class="section--full snow-background">
  <div class="section__content process__location">
    <small>Washington</small>
  </div>
  <div class="section__content text-left">
    <div class="full">
      <div class="one-half">
        <small class="process__season">Spring</small>
        <h2>Equipment Prep</h2>
        {{ '02.svg' | asset_url | img_tag: '02', 'process__number' }}
      </div>
      <div class="one-half">
        <p>With the fishing season approaching, we stay busy working on boat repairs and making sure our nets are in good shape. Now is the time to order your share of our catch. Your deposit for a Wild Salmon Share helps us with the upfront cost of catching and processing your fish. </p>
      </div>
    </div>
    <div class="full">
      <div class="one-quarters padded desktop-only">
        {{ 'https://placehold.it/250x300' | img_tag }}
      </div>
      <div class="one-half shift-one-quarters padded">
        {{ 'https://placehold.it/500x400' | img_tag }}
      </div>
    </div>
  </div>
</section>

<section class="section--full">
  <div class="section__content process__location">
     <div class="line line--down"></div>
    <small>CORDOVA</small>
  </div>
  <div class="section__content text-left">
    <div class="full">
      <div class="one-half">
        <small class="process__season">Summer</small>
        <h2>Fishing</h2>
        {{ '03.svg' | asset_url | img_tag: '03', 'process__number' }}
      </div>
      <div class="one-half">
        <p>What it’s all about! We are currently out on the Copper River Delta, sustainably harvesting wild salmon. Reserve your share of this summer’s catch by July 1st!</p>
      </div>
    </div>
    <div class="full">
      {{ 'https://placehold.it/1600x900' | img_tag }}
    </div>
  </div>
</section>

<section class="section--attention">
  <div class="section__content process__location">
    <div class="line line--up"></div>
    <div class="line line--down"></div>
  </div>
  <div class="section__content text-left">
    <div>
      <div class="one-half">
        <h2 class="bottom">Attention!</h2>
      </div>
      <div class="one-half">
        <p class="bottom">At this point, we have to cut off order taking for the 2016 season.</p>
      </div>
    </div>
    <div class="section__link">
    <a href="/collections/shares">order</a>
  </div>
  </div>
</section>

<section class="section--full">
  <div class="section__content process__location">
    <div class="line line--up"></div>
    <small>Washington</small>
  </div>
  <div class="section__content text-left">
    <div class="full">
      <div class="one-half">
        <small class="process__season">Fall</small>
        <h2>Delivery</h2>
        {{ '04.svg' | asset_url | img_tag: '04', 'process__number' }}
      </div>
      <div class="one-half">
        <p>As the fishing season wraps up, we ship your share of our catch down to Washington state. Come say hello, meet your fishermen, and pick up your box of salmon at our various pickup locations in Anacortes, Bellingham, and Seattle. We look forward to meeting you! </p>
      </div>
    </div>
    <div class="full">
      {{ 'https://placehold.it/1600x900' | img_tag }}
    </div>
  </div>
</section>