{% comment %}
  Very important reading:
  http://docs.shopify.com/themes/liquid-basics/what-is-true-and-false-in-liquid
  Learn how to read theme settings in your theme.
{% endcomment %}

<section>
  <div class="section__content page__title">
    <small>Drifters Process</small>
  </div>
  <div class="section__content text-left">
    <div class="two-thirds">
      <h2>Our process consists of five key steps. Each vital to getting you the best fish possible.</h2>
    </div>
  </div>
</section>

<section class="section--full">
  <div class="section__content process__location">
    <small>SEATTLE</small>
  </div>
  <div class="section__content text-left">
    <div class="full">
      <div class="one-half">
        <h2>Off Season</h2>
        <small class="mobile-only">SEATTLE</small><br />
        {{ '01.svg' | asset_url | img_tag: '01', 'process__number' }}
      </div>
      <div class="one-half">
        <p>Our off season is spent on land. We stay on a small island in Washington State. It’s here that we get some much needed rest, host events to help distribute our fish, enjoy time with friends and family, and tie nets for the upcoming season.</p>
      </div>
    </div>
    <div class="full">
      <div class="one-half">
        {{ 'https://placehold.it/500x400' | img_tag }}
      </div>
      <div class="one-quarters shift-one-quarters padded desktop-only">
        {{ 'https://placehold.it/250x300' | img_tag: null }}
      </div>
    </div>
  </div>
</section>

<section class="section--full snow-background">
  <div class="section__content process__location">
    <div class="line line--down"></div>
    <small>SEATTLE</small>
  </div>
  <div class="section__content text-left">
    <div class="full">
      <div class="one-half">
        <h2>Equipment Prep</h2>
        <small class="mobile-only">SEATTLE</small><br />
        {{ '02.svg' | asset_url | img_tag: '02', 'process__number' }}
      </div>
      <div class="one-half">
        <p>Our off season is spent on land. We stay on a small island in Washington State. It’s here that we get some much needed rest, host events to help distribute our fish, enjoy time with friends and family, and tie nets for the upcoming season.</p>
      </div>
    </div>
    <div class="full">
      <div class="one-quarters padded desktop-only">
        {{ 'https://placehold.it/250x300' | img_tag }}
      </div>
      <div class="one-half shift-one-quarters padded">
        {{ 'https://placehold.it/500x400' | img_tag }}
      </div>
    </div>
  </div>
</section>

<section class="section--full">
  <div class="section__content process__location">
    <div class="line line--up"></div>
    <small>CORDOVA</small>
  </div>
  <div class="section__content text-left">
    <div class="full">
      <div class="one-half">
        <h2>Fishing</h2>
        <small class="mobile-only">CORDOVA</small><br />
        {{ '03.svg' | asset_url | img_tag: '03', 'process__number' }}
      </div>
      <div class="one-half">
        <p>Our off season is spent on land. We stay on a small island in Washington State. It’s here that we get some much needed rest, host events to help distribute our fish, enjoy time with friends and family, and tie nets for the upcoming season.</p>
      </div>
    </div>
    <div class="full">
      {{ 'https://placehold.it/1600x900' | img_tag }}
    </div>
  </div>
</section>

<section class="section--full snow-background">
  <div class="section__content process__location">
    <div class="line line--down"></div>
    <small>CORDOVA</small>
  </div>
  <div class="section__content text-left">
    <div class="full">
      <div class="one-half">
        <h2>Salmon Prep</h2>
        <small class="mobile-only">CORDOVA</small><br />
        {{ '04.svg' | asset_url | img_tag: '04', 'process__number' }}
      </div>
      <div class="one-half">
        <p>Our off season is spent on land. We stay on a small island in Washington State. It’s here that we get some much needed rest, host events to help distribute our fish, enjoy time with friends and family, and tie nets for the upcoming season.</p>
      </div>
    </div>
    <div class="full">
      <div class="one-quarters desktop-only">
        {{ 'https://placehold.it/250x300' | img_tag }}
      </div>
      <div class="one-half shift-one-quarters padded">
        {{ 'https://placehold.it/500x400' | img_tag }}
      </div>
    </div>
  </div>
</section>

<section class="section--attention">
  <div class="section__content process__location">
    <div class="line line--up"></div>
    <div class="line line--down"></div>
  </div>
  <div class="section__content text-left">
    <div class="one-half">
      <h2 class="bottom">Attention!</h2>
    </div>
    <div class="one-half">
      <p class="bottom">At this point, we have to cut off order taking for the 2016 season.</p>
    </div>
  </div>
  <div class="section__content section__link">
    <a href="/collections/shares">order</a>
  </div>
</section>

<section class="section--full">
  <div class="section__content process__location">
    <div class="line line--up"></div>
    <small>SEATTLE</small>
  </div>
  <div class="section__content text-left">
    <div class="full">
      <div class="one-half">
        <h2>Delivering</h2>
        <small class="mobile-only">Seattle</small><br />
        {{ '05.svg' | asset_url | img_tag: '05', 'process__number' }}
      </div>
      <div class="one-half">
        <p>Our off season is spent on land. We stay on a small island in Washington State. It’s here that we get some much needed rest, host events to help distribute our fish, enjoy time with friends and family, and tie nets for the upcoming season.</p>
      </div>
    </div>
    <div class="full">
      {{ 'https://placehold.it/1600x900' | img_tag }}
    </div>
  </div>
</section>